<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13B42</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IntelEnhancedSpeedStep</string>
	<key>CFBundleIdentifier</key>
	<string>com.reidburke.air.IntelEnhancedSpeedStep</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IntelEnhancedSpeedStep</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.5.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IntelEnhancedSpeedStep</key>
		<dict>
			<key>AutoStart</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>com.reidburke.air.IntelEnhancedSpeedStep</string>
			<key>DebugMessages</key>
			<false/>
			<key>DefaultPState</key>
			<integer>2</integer>
			<key>IOClass</key>
			<string>com_reidburke_air_IntelEnhancedSpeedStep</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>com_reidburke_air_IntelEnhancedSpeedStep</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>KernelFeatures</key>
			<integer>-1</integer>
			<key>PStateTable</key>
			<array>
				<array>
					<integer>1995</integer>
					<integer>925</integer>
				</array>
				<array>
					<integer>1862</integer>
					<integer>925</integer>
				</array>
				<array>
					<integer>1595</integer>
					<integer>925</integer>
				</array>
			</array>
			<key>PStateTableDisabled</key>
			<array>
				<array>
					<integer>1995</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>1862</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>1596</integer>
					<integer>900</integer>
				</array>
			</array>
			<key>TargetCPULoad</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>10.8</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.8</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.8</string>
		<key>com.apple.kpi.mach</key>
		<string>10.8</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.8</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
